@import url(../validation/main.css);

/* Loan Container */

.loan-container{
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Loan Box */

.loan-box-container{
    margin-bottom: 20px;
}
.loan-box{
    padding: 20px 30px;
    font-size: 13px;
    border: 2px solid var(--blue-pale-background);
    border-radius: 5px;
}
.loan-box:hover{
    background-color: var(--blue-pale-background);
}
/* Loan Box Img */
.loan-box .loan-img-box{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    /* filter: grayscale(100%); */
}
.loan-img-box img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}
/* Loan Box Text */
.loan-header-box{
    padding: 5px 0;
    border-top: 2px solid darkgray;
    border-bottom: 2px solid darkgray;
}
.loan-text-row{
    margin: 5px 0;
}
.loan-text-box{
    margin: 10px 0;
}
.loan-header0{
    font-size: 18px;
}
.loan-text-right{
    margin-left: auto;
    text-align: right;
}
.loan-text-left{
    margin-right: auto;
    text-align: left;
}
.loan-box strong{
    color: var(--blue-dark-background);
    font-weight: 800;
}

/* Rules */

.rules-container{
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.section-title.bigger{
    font-size: 20px;
}
.rules-text{
    margin-bottom: 20px;
}
.rules-text:last-child{
    margin-bottom: 0;
}